<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>shpp-library</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="library Sh++" />
  <link rel="stylesheet" href="./books-page_files/libs.min.css" />
    <link rel="stylesheet" href="./books-page_files/style.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    crossorigin="anonymous"
  />

  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <style>
    .details {
      display: none;
    }
  </style>
</head>

<body>
  <section id="header" class="header-wrapper">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
          <div class="logo">
            <a href="/" class="navbar-brand"
              ><span class="sh">Ш</span><span class="plus">++</span></a
            >
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
          <div class="main-menu">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input id="search" type="text" placeholder="Найти книгу" class="form-control" />
                  <script>
                    $("#search").bind("keypress", function (e) {
                      if (e.keyCode == 13) {
                        e.preventDefault();
                        alert("а вот это придется сделать самому. Ваш @rshmelev");
                      }
                    });
                  </script>

                  <div class="loader"><img src="./books-page_files/loading.gif" /></div>
                  <div id="list" size="" class="bAutoComplete mSearchAutoComplete"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2 hidden-xs">
          <div class="social">
            <a href="https://www.facebook.com/shpp.kr/" target="_blank"
              ><span class="fa-stack fa-sm"><i class="fa fa-facebook fa-stack-1x"></i></span></a
            ><a href="http://programming.kr.ua/ru/courses#faq" target="_blank"
              ><span class="fa-stack fa-sm"><i class="fa fa-book fa-stack-1x"></i></span
            ></a>
          </div>
        </div>
      </div>
    </nav>
  </section>
  
  <section id="main" class="main-wrapper">
    <div class="container">
      <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% if (books && books.length > 0) { %>
          <% books.forEach(book => { %>
            <div data-book-id="<%= book.id %>" class="book_item col-xs-6 col-sm-3 col-md-2 col-lg-2">
              <div class="book">
                <a href="/book/<%= book.id %>">
                  <img src="/uploads/<%= book.image %>" alt="<%= book.title %>">
                  <div data-title="<%= book.title %>" class="blockI" style="height: 46px;">
                    <div data-book-title="<%= book.title %>" class="title size_text"><%= book.title %></div>
                    <div data-book-author="<%= book.author1 %>" class="author"><%= book.author1 %></div>
                  </div>
                </a>
                <a href="/book/<%= book.id %>">
                  <button type="button" class="details btn btn-success">Читать</button>
                </a>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          <div class="col-xs-12">
            <p class="text-center">Хто книжки дропнув?</p>
          </div>
        <% } %>
      </div>
      
      <div class="pagination">
        <button id="prevPage" class="btn btn-primary" <%= currentPage === 1 ? 'disabled' : '' %>>Назад</button>
        <span id="currentPage"><%= currentPage %> / <%= totalPages %></span>
        <button id="nextPage" class="btn btn-primary" <%= currentPage === totalPages ? 'disabled' : '' %>>Вперед</button>
      </div>
    </div>
  </section>

  <section id="footer" class="footer-wrapper">
    <div class="navbar-bottom row-fluid">
      <div class="navbar-inner">
        <div class="container-fuild">
          <div class="content_footer">
            Made with<a href="http://programming.kr.ua/" class="heart"
              ><i aria-hidden="true" class="fa fa-heart"></i></a
            >by F1N4Lity
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    // Обробники подій для кнопок пагінації
    document.getElementById("prevPage").addEventListener("click", () => {
      window.location.href = `/?page=<%= currentPage - 1 %>`;
    });

    document.getElementById("nextPage").addEventListener("click", () => {
      window.location.href = `/?page=<%= currentPage + 1 %>`;
    });

    // Пошук книг
    document.getElementById("search").addEventListener("keypress", (e) => {
      if (e.key === "Enter") {
        e.preventDefault();
        const query = document.getElementById("search").value;
        window.location.href = `/?search=${encodeURIComponent(query)}`;
      }
    });
  </script>
</body>
</html>